{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "adoptopenjdk/openjdk"
tap "bramstein/webfonttools"
tap "datawire/blackbird"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "ruimarinho/tap"
tap "txn2/tap"
brew "age"
brew "argocd"
brew "aws-iam-authenticator"
brew "awscli"
brew "bitwarden-cli"
brew "chezmoi"
brew "curl"
brew "git"
brew "helm"
brew "kubernetes-cli"
brew "pre-commit"
brew "sbt"
brew "telnet"
brew "wget"
brew "datawire/blackbird/telepresence"
brew "ruimarinho/tap/mota"
cask "adoptopenjdk11"
cask "bitwarden"
cask "ccmenu"
cask "font-fantasque-sans-mono-noloopk"
cask "google-chrome"
cask "iterm2"
cask "jetbrains-toolbox"
cask "keystore-explorer"
cask "menumeters"
cask "microsoft-teams"
cask "qlmarkdown"
cask "quicklook-json"
cask "spotify"
cask "visualvm"
cask "vlc"
cask "slack"
EOF

bw config server "https://vault.falkenkamp.nl"
bw login oldenkamperwin@gmail.com
export BW_SESSION=$(bw unlock --raw)

bw get attachment "key.txt" --itemid "66b1dc4c-118f-4812-8ffe-a8b8f355073f"
{{ end -}}
